@media(max-width: 320px) {

    @font-face {
        font-family: 'Open Sans Condensed';
        src: url('../ttf/Open_Sans_Condensed/OpenSansCondensed-Light.ttf');
    }

    * {
        box-sizing: border-box;
        font-family: 'Open Sans Condensed';
        font-weight: 400;
        margin: 0px;
        padding: 0px;
        width: 100%;
        text-transform: uppercase;
    }

    .header {
        margin: 0 auto;
        width: 320px;
    }

    .headerSection {
        width: 320px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .headerSectionHeader {
        display: flex;
        width: 300px;
    }

    .headerSectionImg {
        width: 300px;
    }

    .main {
        margin: 0 auto;
        width: 320px;
    }

    .mainSection {
        width: 320px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .mainSectionHr {
        width: 300px;
    }

    .mainSectionArticleHr {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 300px;
    }

    .mainSectionHeader {
        display: flex;
        width: 300px;
    }

    .mainSectionHeaderH1 {
        font-size: 25px;
        text-align: left;
    }

    .mainSectionHeaderImg {
        height: 30px;
        padding-top: 3px;
        width: 30px;
    }

    .mainSectionArticle {
        width: 300px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .mainSectionArticleHeader {
        width: 300px;
    }

    .mainSectionArticleHeaderH2 {
        color: #ffffff;
        background-color: #ff0000;
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: left;
    }

    .mainSectionArticleP {
        color: #000000;
        font-size: 15px;
        padding-top: 10px;
        padding-bottom: 1px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: justify;
    }

    .mainSectionArticleImg {
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: left;
        width: 300px;
    }

    .mainSectionArticleAside {
        display: none;
        background-color: #fdb7b7;
        justify-content: space-around;
        margin-bottom: 25px;
        margin-left: 60px;
        margin-right: 25px;
        margin-top: 25px;
    }

    .mainSectionArticleAsideHeader {
        width: 300px;
    }

    .mainSectionArticleAsideHeaderH2 {
        font-size: 40px;
        margin: 15px;
        text-align: center;
    }

    .mainSectionArticleAsideP {
        color: #000000;
        font-size: 14px;
        margin: 15px;
        text-align: left;
    }

    .mainSectionDetails {
        width: 300px;
    }

    .mainSectionDetails[open] summary::after {
        content: attr(data-open);
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .mainSectionDetails:not([open]) summary::after {
        content: attr(data-close);
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .mainSectionDetailsSummary {
        cursor: pointer;
        font-size: 16px;
        list-style: none;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        outline: 0;
        width: 300px;
    }

    .mainSectionDetailsSummary::-webkit-details-marker {
        display: none;
    }

    .mainSectionDetailsSummary:after {
        color: #ff2626;
    }

    .mainSectionDetailsHeader {
        width: 300px;
    }

    .mainSectionDetailsHeaderH2 {
        color: #ff0000;
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }

    .mainSectionDetailsP {
        font-size: 14px;
        margin-bottom: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: justify;
    }

    .mainSectionArticleFooter {
        background-color: rgb(230, 19, 11);
        margin: 0 auto;
        width: 300px;
    }

    .mainSectionArticleFooterSection {
        align-items: center;
        display: flex;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
        width: 300px;
    }

    .mainSectionArticleFooterSectionHeader {
        justify-content: space-around;
        padding-left: 10px;
        padding-right: 10px;
    }

    .mainSectionArticleFooterSectionImg {
        height: 35px;
        justify-content: space-around;
        width: 35px;
    }

    .mainSectionArticleFooterSectionHeaderP {
        color: #f5f5dc;
        font-size: 15px;
    }

    .mainSectionArticleFooterSectionHeaderH2 {
        color: #ffffff;
        font-size: 15px;
    }

    .mainSectionNav {
        margin: 0 auto;
        width: 300px;
    }

    .mainSectionNavSection {
        align-items: center;
        display: flex;
        padding-bottom: 10px;
        padding-top: 10px;
        width: 300px;
    }

    .mainSectionNavHeader {
        justify-content: space-around;
        margin: 5px;
    }

    .mainSectionNavSectionImg {
        height: 75px;
        justify-content: stretch;
        width: 75px;
        padding-left: 10px;
    }

    .mainSectionNavSectionImg:first-child {
        height: 75px;
        justify-content: stretch;
        width: 75px;
        padding-left: 10px;
        padding-right: 5px;

    }

    .mainSectionNavSectionImg {
        height: 75px;
        justify-content: stretch;
        width: 75px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .mainSectionNavSectionImg:last-child {
        height: 75px;
        justify-content: stretch;
        width: 75px;
        padding-right: 10px;

    }

    .mainSectionNavHeaderP {
        color: #f5f5dc;
        font-size: 15px;
    }

    .mainSectionNavHeaderH2 {
        color: #ffffff;
        font-size: 15px;
    }







}