@media(min-width: 415px) and (max-width: 568px) {

    @font-face {
        font-family: 'Open Sans Condensed';
        src: url('../ttf/Open_Sans_Condensed/OpenSansCondensed-Light.ttf');
    }

    * {
        box-sizing: border-box;
        font-family: 'Open Sans Condensed';
        font-weight: 400;
        margin: 0px;
        padding: 0px;
        width: 100%;
    }

    .header {
        margin: 0 auto;
        width: 375px;
    }

    .headerSectionLogo {
        width: 375px;
    }

    .headerSectionLogoImg {
        padding-top: 10px;
        width: 375px;
    }

    .main {
        margin: 0 auto;
        width: 375px;
    }

    .mainSectionOffer {
        width: 375px;
    }

    .mainSectionOfferHr {
        margin: 0px;
    }

    .mainSectionOfferHeader {
        display: flex;
        width: 375px;
    }

    .mainSectionOfferHeaderH1 {
        font-size: 25px;
        text-align: left;
    }

    .mainSectionOfferHeaderImg {
        height: 30px;
        padding-top: 3px;
        width: 30px;
    }

    .mainSectionOfferArticle {
        width: 375px;
    }

    .mainSectionOfferArticleAside {
        display: none;
    }

    .mainSectionOfferArticleHeader {
        width: 375px;
    }

    .mainSectionOfferArticleHeaderH2 {
        color: #ff0000;
        font-size: 20px;
        margin-bottom: 15px;
        margin-top: 15px;
        text-align: left;
    }

    .mainSectionOfferArticleP {
        color: #000000;
        font-size: 20px;
        text-align: justify;
    }

    .mainSectionOfferArticleUnorderedList {
        width: 375px;
    }

    .mainSectionOfferArticleUnorderedListListItem {
        color: #000000;
        font-size: 18px;
        list-style-type: none;
        margin-left: 5px;
        padding-top: 5px;
        text-align: left;
        width: 375px;
    }

    .mainSectionOfferArticleAside {
        background-color: #fdb7b7;
        /* flex: 33.3%; */
        justify-content: space-around;
        margin-bottom: 25px;
        margin-left: 60px;
        margin-right: 25px;
        margin-top: 25px;
    }

    .mainSectionOfferArticleAsideHeader {
        width: 375px;
    }

    .mainSectionOfferArticleAsideHeaderH2 {
        font-size: 40px;
        margin: 15px;
        text-align: center;
    }

    .mainSectionOfferArticleAsideP {
        color: #000000;
        font-size: 14px;
        margin: 15px;
        text-align: left;
    }

    .mainSectionOfferDetails {
        width: 375px;
    }

    .mainSectionOfferDetails[open] summary::after {
        content: attr(data-open);
    }

    .mainSectionOfferDetails:not([open]) summary::after {
        content: attr(data-close);
    }

    .mainSectionOfferDetailsSummary {
        cursor: pointer;
        font-size: 16px;
        list-style: none;
        margin: 15px;
        outline: 0;
        width: 260px;
    }

    .mainSectionOfferDetailsSummary::-webkit-details-marker {
        display: none;
    }

    .mainSectionOfferDetailsSummary:after {
        color: #ff2626;
    }

    .mainSectionOfferDetailsHeader {
        width: 375px;
    }

    .mainSectionOfferDetailsHeaderH2 {
        color: #ff0000;
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;
    }

    .mainSectionOfferDetailsP {
        font-size: 14px;
        margin-bottom: 15px;
        text-align: justify;
    }

    .mainSectionOfferArticleTable {
        margin-top: 15px;
        width: 375px;
    }

    .mainSectionOfferArticleTableTr:nth-child(odd) {
        background-color: #ffa4a4;
        width: 375px;
    }

    .mainSectionOfferArticleTableTrThHeaderH2 {
        background-color: #ff0000;
        color: #ffffff;
        font-size: 15px;
        margin: 0px;
        padding: 5px;
        text-align: center;
    }

    .mainSectionOfferArticleTableTrTdP {
        color: #000000;
        font-size: 10px;
        margin: 0px;
        padding: 5px;
        text-align: center;
    }

    .mainSectionOfferArticleIframe {
        margin-top: 15px;
        width: 375px;
    }

    .footer {
        background-color: #ff2626;
        width: 100%;
    }

    .footerSection {
        align-items: center;
        display: flex;
        margin-left: 15px;
        margin-right: 15px;
        padding-bottom: 5px;
        padding-top: 5px;
        width: 100%;
    }

    .footerSectionHeader {
        justify-content: space-around;
        margin: 5px;
    }

    .footerSectionImg {
        height: 35px;
        justify-content: space-around;
        width: 35px;
    }

    .footerSectionHeaderP {
        color: #f5f5dc;
        font-size: 15px;
    }

    .footerSectionHeaderH2 {
        color: #ffffff;
        font-size: 15px;
    }
}